WG_ADMIN_USER=admin@wgportal.local
WG_ADMIN_PASSWORD=wgportal-default  #Note: make string literal if using special characters 'pass-with-special-chars'
WG_WEB_URL=http://127.0.0.1:8888  #Note: Change to wg-server address after initial interface setup
